html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 0.938rem;
}

.container {
  display: flex;
  text-align: center;
  flex-shrink: 1;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1rem;
}

.container-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 1;
  max-width: 17rem;
  padding-top: 0.625rem;
}

.container-content img {
  flex-shrink: 1;
  border-radius: 1rem;
  max-width: 90%;
}

.container-content .container-header {
  flex-shrink: 1;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0;
  padding: 1rem;
}

.container-content .container-text {
  flex-shrink: 1;
  color: #585858;
  font-size: 0.8rem;
  font-weight: 200;
  margin: 0;
  padding: 0 1.25rem 1.25rem 1.25rem;
}