html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.container {
  display: flex;
  text-align: center;
  flex-shrink: 1;
  height: 60vh;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1rem;
}

.container-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 1;
  width: 18vw;
  padding-top: 10px;
}

.container-content img {
  flex-shrink: 1;
  border-radius: 1rem;
  width: 16vw;
}

.container-content .container-header {
  flex-shrink: 1;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0;
  padding: 15px;
}

.container-content .container-text {
  flex-shrink: 1;
  color: gray;
  font-size: 0.8rem;
  font-weight: 200;
  margin: 0;
  padding: 0 20px 0 20px;
}